<%= form_for(computer_skill) do |f| %>
  <% if computer_skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(computer_skill.errors.count, "error") %> prohibited this computer_skill from being saved:</h2>

      <ul>
      <% computer_skill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :computer_skill_list_id %>
    <%= f.text_field :computer_skill_list_id %>
  </div>

  <div class="field">
    <%= f.label :skill_level_id %>
    <%= f.text_field :skill_level_id %>
  </div>

  <div class="field">
    <%= f.label :profile_id %>
    <%= f.text_field :profile_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
