<div class="container content" style="height: 500px;">
  <p id="notice"><%= notice %></p>

  <table>
    <thead>
      <tr>
        <th><h3>Computer Skills<h3></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Skill list</strong></td>
        <td><strong>Skill level</strong></td>
      </tr>
      <% @computer_skills.each do |computer_skill| %>
        <tr>
          <td><%= computer_skill.computer_skill_list.comp_skill %></td>
          <td><%= computer_skill.skill_level.level %></td>
          <td><%= link_to 'Show', profile_computer_skill_path(current_profile,computer_skill) %></td>
          <td><%= link_to 'Edit', edit_profile_computer_skill_path(current_profile,computer_skill) %></td>
          <td><%= link_to 'Destroy', profile_computer_skill_path(current_profile,computer_skill), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New Computer Skill', new_profile_computer_skill_path %>
</div>