<p id="notice"><%= notice %></p>

<p>
  <strong>Computer skill list:</strong>
  <%= @computer_skill.computer_skill_list.comp_skill %>
</p>

<p>
  <strong>Skill level:</strong>
  <%= @computer_skill.skill_level.level %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @computer_skill.profile.username %>
</p>

<%= link_to 'Edit', edit_profile_computer_skill_path(current_profile,@computer_skill) %> |
<%= link_to 'Back', profile_computer_skills_path %>
