<%= form_for(professional_skill_list) do |f| %>
  <% if professional_skill_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(professional_skill_list.errors.count, "error") %> prohibited this professional_skill_list from being saved:</h2>

      <ul>
      <% professional_skill_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :prof_skill %>
    <%= f.text_field :prof_skill %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
