<p id="notice"><%= notice %></p>

<h1>Professional Skill Lists</h1>

<table>
  <thead>
    <tr>
      <th>Prof skill</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professional_skill_lists.each do |professional_skill_list| %>
      <tr>
        <td><%= professional_skill_list.prof_skill %></td>
        <td><%= link_to 'Show', professional_skill_list %></td>
        <td><%= link_to 'Edit', edit_professional_skill_list_path(professional_skill_list) %></td>
        <td><%= link_to 'Destroy', professional_skill_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Professional Skill List', new_professional_skill_list_path %>
