<%= form_for(language) do |f| %>
  <% if language.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(language.errors.count, "error") %> prohibited this education from being saved:</h2>

      <ul>
      <% language.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 	
 <%= f.text_field :language %><br />
  <%= f.label :skill_level_id %><br />
  <%= f.collection_select :skill_level_id, SkillLevel.order(:level), :id, :level, include_blank: true %>

    <%= f.submit %>
  </div>
<% end %>
