
<h1>Languages</h1>

<table>
  <thead>
    <tr>
      <th>Language</th>
      <th>Skill level</th>
      <th>Profile</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% current_profile.languages.each do |language| %>
      <tr>
        <td><%= language.language %></td>
            <% @sl = language.skill_level %>
        <td><%= @sl.level %></td>
        <td><%= language.profile.username %></td>
        <td><%= link_to 'Edit', edit_profile_language_path(current_profile,language) %></td>
        <td><%= link_to 'Show', profile_language_path(current_profile,language) %></td>
        <td><%= link_to 'Destroy', profile_language_path(current_profile,language), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Language', new_profile_language_path %>
