<div class="container content" style="height: 500px;">
  <p id="notice"><%= notice %></p>

  <table>
    <thead>
      <tr>
        <th><h3>Languages<h3></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Language</strong></td>
        <td><strong>Skill level</strong></td>
      </tr>
      <% current_profile.languages.each do |language| %>
        <tr>
          <td><%= language.language %></td>
          <td><%= language.skill_level.level %></td>
          <td><%= link_to 'Show', profile_language_path(current_profile,language) %></td>
          <td><%= link_to 'Edit', edit_profile_language_path(current_profile,language) %></td>
          <td><%= link_to 'Destroy', profile_language_path(current_profile,language), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New Language', new_profile_language_path %>
</div>