<p id="notice"><%= notice %></p>

<p>
  <strong>Language:</strong>
  <%= @language.language %>
</p>

<p>
  <strong>Skill level:</strong>
  <%= @language.skill_level.level %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @language.profile.username %>
</p>

<%= link_to 'Edit', edit_language_path(@language) %> |
<%= link_to 'Back', languages_path %>
