<p id="notice"><%= notice %></p>

<p>
  <strong>Language:</strong>
  <%= @language.language %>
</p>

<p>
  <strong>Skill level:</strong>
  <%= @language.skill_level.level %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @language.profile.username %>
</p>

<%= link_to 'Edit', edit_profile_language_path(current_profile,@language) %> |
<%= link_to 'Back', profile_languages_path(current_profile,@language) %>
