<p>
  <strong>Profile:</strong>
  <%= @skill.profile.username %>
</p>

<p>
  <strong>Organizational skill:</strong>
  <%= @skill.organizational_skill %>
</p>

<p>
  <strong>Publicaton:</strong>
  <%= @skill.publicaton %>
</p>

<p>
  <strong>Project:</strong>
  <%= @skill.project %>
</p>


<%= link_to 'Edit', edit_profile_skill_path(current_profile, @skill)  %> |
<%= link_to 'Back', profile_skills_path(current_profile) %>
