<p id="notice"><%= notice %></p>

<h1>Work Experiences</h1>

<table>
  <thead>
    <tr>
<<<<<<< HEAD
      <th>Work period</th>
      <th>Position</th>
      <th>Place</th>
      <th>Profile</th>
=======
>>>>>>> master
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_experiences.each do |work_experience| %>
      <tr>
<<<<<<< HEAD
        <td><%= work_experience.work_period %></td>
        <td><%= work_experience.position %></td>
        <td><%= work_experience.place %></td>
        <td><%= work_experience.profile %></td>
=======
>>>>>>> master
        <td><%= link_to 'Show', work_experience %></td>
        <td><%= link_to 'Edit', edit_work_experience_path(work_experience) %></td>
        <td><%= link_to 'Destroy', work_experience, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work Experience', new_work_experience_path %>
