<div class="container content" style="height: 500px;">
  <table>
    <thead>
      <tr>
        <th><h3>Work Experiences<h3></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Work period</strong></td>
        <td><strong>Position</strong></td>
        <td><strong>Place</strong></td>
      </tr>
      <tr>
        <td><%= @work_experience.work_period %></td>
        <td><%= @work_experience.position %></td>
        <td><%= @work_experience.place %></td>
      </tr>
    </tbody>
  </table>
  <%= link_to 'Edit', edit_profile_work_experience_path(current_profile, @work_experience) %> |
	<%= link_to 'Back', profile_work_experiences_path(current_profile) %>
</div>