<div class="container content" style="height: 500px;">
  <p id="notice"><%= notice %></p>

  <table>
    <thead>
      <tr>
        <th><h3>Educations<h3></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Education period</strong></td>
        <td><strong>Education type</strong></td>
        <td><strong>Faculty</strong></td>
      </tr>
      <% @educations.each do |education| %>
        <tr>
          <td><%= education.education_period %></td>
          <td><%= education.education_type %></td>
          <td><%= education.faculty %></td>
          <td><%= link_to 'Show', profile_education_path(current_profile, education) %></td>
          <td><%= link_to 'Edit', edit_profile_education_path(current_profile, education) %></td>
          <td><%= link_to 'Destroy',   profile_education_path(current_profile, education), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New Education', new_profile_education_path  %>
</div>