<div class="container content" style="height: 500px;">
  <table>
    <thead>
      <tr>
        <th><h3>Education<h3></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Education period</strong></td>
        <td><strong>Education type</strong></td>
        <td><strong>Faculty</strong></td>
      </tr>
      <tr>
        <td><%= @education.education_period %></td>
        <td><%= @education.education_type %></td>
        <td><%= @education.faculty %></td>
      </tr>
    </tbody>
  </table>
  <%= link_to 'Edit', edit_profile_education_path(@education) %> |
	<%= link_to 'Back', profile_educations_path %>
</div>