<div class="container content">
  <h1 style="text-align: center;">Profile</h1>
  <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
  <div class="row">
    <div class="col-sm-2 col-xs-12">
      <%= wicked_pdf_image_tag "#{@profile.profile_image.url(:thumb)}" %>
    </div>
    <div class="col-sm-10 col-xs-12">
      <table>
        <tr>
          <td><strong>Name: </strong></td>
          <td><%= @profile.name %></td>
        </tr>
        <tr>
          <td><strong>Surname: </strong></td>
          <td><%= @profile.surname %></td>
        </tr>
        <tr>
          <td><strong>Group: </strong></td>
          <td><%= Group.find(current_profile.group_id).name if current_profile.group_id? %></td>
        </tr>
        <tr>
          <td><strong>E-mail: </strong></td>
          <td><%= @profile.email %></td>
        </tr>
        <tr>
          <td><strong>Address: </strong></td>
          <td><%= @profile.email %></td>
        </tr>
        <tr>
          <td><strong>Phone: </strong></td>
          <td><%= @profile.phone %></td>
        </tr>
        <tr>
          <td><strong>Date of Birth: </strong></td>
          <td><%= @profile.date_of_birth %></td>
        </tr>
        <tr>
          <td><strong>Gender:</strong></td>
          <td><%= @profile.gender %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table>
        <thead>
          <tr>
            <th><h3>Work Experiences<h3></th>
          </tr>
        </thead>
        <tbody>
          <% @profile.work_experiences.each do |work_experience| %>
            <tr>
              <td>Work period: </td>
              <td><%= work_experience.work_period %></td>
            </tr>
            <tr>
              <td>Position: </td>
              <td><%= work_experience.position %></td>
            </tr>
            <tr>
              <td>Place: </td>
              <td><%= work_experience.place %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-xs-12">
      <table>
        <thead>
          <tr>
            <th><h3>Educations</h3></th>
          </tr>
        </thead>
        <tbody>
          <% @profile.educations.each do |education| %>
            <tr>
              <td>Education period: </td>
              <td><%= education.education_period %></td>
            </tr>
            <tr>
              <td>Education type: </td>
              <td><%= education.education_type %></td>
            </tr>
            <tr>
              <td>Faculty: </td>
              <td><%= education.faculty %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table>
        <thead>
          <tr>
            <th><h3>Profesional skills</h3></th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td><strong>Skill</strong></td>
              <td><strong>Skill level</strong></td>
            </tr>
            <% @profile.professional_skills.each do |professional_skill| %>
            <tr>
              <td><%= professional_skill.professional_skill_list.prof_skill %></td>
              <td><%= professional_skill.skill_level.level %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-xs-12">
      <table>
        <thead>
          <tr>
            <th><h3>Computer skills</h3></th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td><strong>Skill</strong></td>
              <td><strong>Skill level</strong></td>
            </tr>
            <% @profile.computer_skills.each do |computer_skill| %>
            <tr>
              <td><%= computer_skill.computer_skill_list.comp_skill %></td>
              <td><%= computer_skill.skill_level.level %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table>
        <thead>
          <tr>
            <th><h3>Skills</h3></th>
          </tr>
        </thead>
        <tbody>
          <% if @profile.skill!=nil %>
            <% @skill = @profile.skill %>
            <tr>
              <td>Organizational Skills: </td>
              <td><%= @skill.organizational_skill %></td>
            </tr>
            <tr>
              <td>Publications: </td>
              <td><%= @skill.publicaton %></td>
            </tr>
            <tr>
              <td>Projects: </td>
              <td><%= @skill.project %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-xs-12">
      <table>
        <thead>
          <tr>
            <th><h3>languages</h3></th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td><strong>Language</strong></td>
              <td><strong>Skill level</strong></td>
            </tr>
            <% @profile.languages.each do |language| %>
            <tr>
              <td><%= language.language %></td>
              <td><%= @sl.level %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>