<br>
<div class="container content" style="height: 500px;">
  <div class="row">
    <div class="col-sm-2 col-xs-12">
      <%= image_tag current_profile.profile_image.url(:thumb) if current_profile.profile_image? %>
    </div>
    <div class="col-sm-7 col-xs-12">
      <% @profile = current_profile %>
      <table>
        <tr>
          <td><strong>Name: </strong></td>
          <td><%= @profile.name %></td>
        </tr>
        <tr>
          <td><strong>Surname: </strong></td>
          <td><%= @profile.surname %></td>
        </tr>
        <tr>
          <td><strong>Group: </strong></td>
          <td><%= Group.find(current_profile.group_id).name if current_profile.group_id? %></td>
        </tr>
        <tr>
          <td><strong>E-mail: </strong></td>
          <td><%= @profile.email %></td>
        </tr>
        <tr>
          <td><strong>Address: </strong></td>
          <td><%= @profile.email %></td>
        </tr>
        <tr>
          <td><strong>Phone: </strong></td>
          <td><%= @profile.phone %></td>
        </tr>
        <tr>
          <td><strong>Date of Birth: </strong></td>
          <td><%= @profile.date_of_birth %></td>
        </tr>
        <tr>
          <td><strong>Gender:</strong></td>
          <td><%= @profile.gender %></td>
        </tr>
      </table>
    </div>
    <div class="col-sm-3 col-xs-12">
      <% if current_profile==@profile %>
        <%= link_to "Edit" , edit_profile_path(@profile), class: "btn btn-warning" %>
      <% end %>
      <%= link_to "Profile" , profile_path(current_profile), class: "btn btn-info" %>
    </div>
  </div>
</div>