<div class="container-fluid">

<div class="col-md-4">  
<p>
  <strong>Your face</strong>
  <%= image_tag current_profile.profile_image.url(:thumb) if current_profile.profile_image? %>
</p>
</div>  


  <div class="col-md-4">
    <h3>Add photo</h3>
    <%= link_to "Add Photo" , edit_profile_path(current_profile) %>
  </div>

  <div class="col-md-4">
    <h3>One Skill</h3>
    <%= link_to "My Skill" , profile_skills_path(current_profile) %>
  </div>

  <div class="col-md-4">
    <h3>Languages</h3>
    <%= link_to "Languages" , profile_languages_path(current_profile,@language) %>
  </div>

  <div class="col-md-4">
    <h3>Professional Skills</h3>
    <%= link_to "Professional Skills" , profile_professional_skills_path(current_profile,@professional_skills) %>
  </div>


  <div class="col-md-4">
    <h3>Computer Skills</h3>
    <%= link_to "Computer Skills" , profile_computer_skills_path(current_profile,@pcomputer_skills) %>
  </div>


  <div class="col-md-4">
    <h3>My educations</h3>
    <%= link_to "My Educations" , profile_educations_path(current_profile, @educations)  %>
  </div>

  <div class="col-md-4">
    <h1>Dashboard</h1>

    <h3>
      username:
      <%= current_profile.username %>
    </h3>

    <h3>
      role:
      <%= current_profile.profile_role_id %>
      <br/>
      <%= current_profile.profile_role.role %>
    </h3>
  </div>

  <div class="col-md-4">
    <h3>Work Experience</h3>
    <div class="">
      <%= link_to "My work experiences", profile_work_experiences_path(current_profile) %>
    </div>

  </div>

</div>
