<p id="notice"><%= notice %></p>

<p>
  <strong>Organizational skill:</strong>
  <%= @skill.organizational_skill %>
</p>

<p>
  <strong>Publicaton:</strong>
  <%= @skill.publicaton %>
</p>

<p>
  <strong>Project:</strong>
  <%= @skill.project %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @skill.profile %>
</p>

<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
